 .c{
   /* border: 1px solid black; */
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
 }
 
 .imx{
    display:none;
 }
 
 #pre, #nex{
 position: absolute;
 color: red;
 top: 43%;
 /*left: 0; */
 cursor: pointer;
 padding: 16px;
 font-weight: bold;
 font-size: 1rem;
 transition: 0.10s ease;
 border-radius: 0 3px 3px 0;
 /*user-select: none;*/
 }
 #pre{left: 0;}
 #nex{right: 0;}
 
 #pre:hover, #nex:hover{
  background-color:black;
 }
 
 .ds{
  text-align: left;
  margin: 1%;
  /*border: solid; */
  width: 300px;
  padding-left: 140px;
 }
  
 .d{
   height: 15px;
   width: 15px;
   background-color: red;
   display: inline-block;
   border-radius: 50%;
   margin: 0 18px;
   transition: background-color 0.6s ease;
   
  }
  
  .xx{
   background-color: blue;
  }
  
  .zi{
   animation: zi 1.5s;
  }
 
 @keyframes zi{
  from{opacity: .4}
  to{opacity: 1}
 }
 
 @media(max-width:768px){
  .c{
   width: 100%;
  }
 }
 
 
 
 
 